@media (max-width: 1060px){
   .home .home-content .text-1{
      font-size: 40px ;
   }

   .home .home-content .text-2{
      font-size: 25px ;
   }

   .home .image img{
      margin-right: 10px ;
   }
   .about .right img{
      height: 360px ;
      width: 330px ;
      margin-right: 5px ;
   }
}


@media (max-width: 950px) {
      
    #sidebar {
       /* display: none; */
       position: fixed;
       width:   230px;
       height: 100vh;      
       top: 0px;
       right: -230px;
       background-color: #f2f2fc;
       z-index: 25;
       transition: all 0.5s ease;
       padding: 100px 0px;
       border-left: 1px solid #e8dfec;
       line-height: 55px;
      display: block;      
      
   }

   .navbar  #sidebar .menu li{
      display: block ;      
      margin: 0 10px;  
      border-bottom: 1px solid #080A52 ;
   }

   .navbar  #sidebar .menu li:hover{     
      background-color: #a7a6a62f ;
   }

   .navbar.sticky .menu li a{
      color: #080A52 ;
  }
  
  .navbar.sticky .menu li a:hover{
     color: #03e9f4;
  }

   .navbar .menu li a i{
      display: inline-block ;
   }

   .copyright-text{
      display: block ;
   }

   

   .navbar .max-width #btn{
      display:block ;       
   }


   /* home part css  */
   .home .image img{
      height: 300px ;
      width: 300px ;
     
   }

   /* skill content part  */
   .skills .column .cllg{
      font-size: 20px;
   }

   .skills .skills-content .deg {
      font-size: 16px;
   }

   .skills .skills-content .date {
      font-size: 14px;
   }
}  

@media (max-width: 880px){
   section{
      padding: 40px 0 ;
   }

   .home .max-width{
      display: block ;
   text-align: center;
   }
   
   .home .max-width .icons{
      display: flex;
      align-items: center;
      justify-content: center;
   }
   
   .home .home-content .text-1{
      font-size: 50px ;
   }

   .home .home-content .text-2{
      font-size: 35px ;
   }
   
   .home .image{
     display: flex;
     justify-content: center;
   }

   .home .image img{
      height: 420px ;
      width: 420px ;
     
   }

   .skills .skills-content .column{
      width: 80% ;
   }

   .left{
      width: 100% ;
      text-align: justify;
   }

   .right{
      width: 100%;
   }

   .right img{
      display: none;
   }
   .skills .max-width .box-2 img{
      height: 18px ;
  }
  
   .skills .max-width .box-2 h6{
      font-size: 16px ;
   }

   .contact .max-width .contact-content{
      display: block;
   }

}

@media (max-width:700px) {
   .home .home-content .text-0{
      font-size: 25px;
   }
   .home .home-content .text-1{
      font-size: 40px;
   }
   .home .home-content .text-2{
      font-size: 30px;
   }

   .home .max-width .icons a img{
      margin: 5px 12px;
   }

   .home .image img {
      height: 350px;
      width: 350px;
   }
   .heading{
      font-size: 2.5rem;
      margin: 30px 0;
   }

   .about .heading::before{
      font-size: 90px;
   }

   .about .max-width .about-content .column .text{
      font-size: 25px;
   }

   .about .max-width .about-content .column p{
      font-size: 16px;
   }

   .about .about-content .left a {
      font-size: 18px;
      padding: 10px 20px;
   }

   .skills .max-width .box-2 {
      padding: 20px 10px;
   }

   .skills .heading::before ,
   .skills #heading-1::before,
   .contact .heading::before   {
      font-size: 70px;
   }
    
   .skills #heading-2::before,
   .project .heading::before {
      font-size: 75px;
   }

   .contact .right form .button button{
      font-size: 16px;
      width: 80%;
      height: 90%;
   }
}

@media (max-width: 550px){
   .max-width{
      padding: 0 20px;
   }

   .navbar .logo a{
      font-size: 25px;
   }

   .home .home-content .text-0 {
      font-size: 18px;
  }

  .home .home-content .text-1 {
   font-size: 30px;
}

.home .home-content .text-2 {
   font-size: 23px;
}

.home .max-width .icons a img {
   height: 25px;
   width: 25px;
 }

 .home .image img {
   height: 300px;
   width: 300px;
}

.heading {
   font-size: 2rem;  
}

.about .heading::before{
   font-size: 70px;
}

.about .max-width .about-content .column .text{
   font-size: 20px;
   text-align: left;
}

.about .about-content .left a {
   font-size: 18px;
   padding: 8px 16px;
}

.skills .max-width .box-1{
   display: block;
   font-size: 20px;
}
.skills .max-width .box-2 img{
   height: 25px;
   margin-right: 10px;
}

.skills .max-width .box-2 {   
   padding: 20px 10px;
}

.skills .heading::before ,
.skills #heading-1::before,
.contact .heading::before   {
   font-size: 50px;
}

.skills .column .cllg {
   font-size: 18px;
}

.skills .skills-content .deg {
   font-size: 14px;
}

.skills #heading-2::before,
.project .heading::before {
   font-size: 55px;
}

.contact .contact-content .left .icons {  
   padding-left: 10px;
}

.contact .contact-content .row .info {
   margin-left: 20px;
}

.contact .contact-content .row i {
   font-size: 22px;
   
}

.contact .right form .button button{
   font-size: 14px;
   width: 70%;
   height: 85%;
}

footer{
   font-size: 12px;
}
 
}